header {
    display: flex;
    justify-content: flex-start;
}

img {
    width: 100px;
    height: 100px;

}  

.nav-container ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 60%;
    justify-content: flex-start;
}

.nav-secundario {
    border-radius: 10px;
    text-align: center;
    border-color: beige;
    border-style: solid;
    box-shadow: inset;
    padding: 5px 5px 5px 5px;
    width: 50px;
    height: 50px;
}
